---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-output" data-offset="100"
---

<div class="row">
    <div class="col-12 col-lg-10">
        <section id="selected-publications" class="pt-2">
            {% include widgets/research_output_list.html
                outputs=site.data.research_outputs.published
                title="Selected Publications"
                icon="fas fa-star"
                limit=100 %}
        </section>

        <section id="policy-reports" class="pt-2">
            {% include widgets/research_output_list.html
                outputs=site.data.research_outputs.policy_reports
                title="Policy Report"
                icon="fas fa-file-alt"
                limit=100 %}
        </section>

        <section id="working-papers" class="pt-2">
            {% include widgets/research_output_list.html
                outputs=site.data.research_outputs.working_papers
                title="Working Papers"
                icon="fas fa-pen-nib"
                limit=100 %}
        </section>
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-output" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            <a class="nav-link d-block" href="#selected-publications">Publications</a>
            <a class="nav-link d-block" href="#policy-reports">Policy Report</a>
            <a class="nav-link d-block" href="#working-papers">Working Papers</a>
        </div>
    </div>
</div>
